.text {
    padding-top: 70px;
}

.slide {
    background-size: cover;
    height: 600px;
    background-position: center;
    width: 100%;
}

.first-slide {
/*    background-image: url("../images/finger.jpg");
    background-position: bottom;*/
    background-color: #525252;
    background-image: url("../images/finger.jpg");
    background-blend-mode: color-burn;
    background-position: bottom;
}

.second-slide {
    background-color: #525252;
    background-image: url("../images/app.jpg");
    background-blend-mode: color-burn;
    background-position: bottom;  
}

.third-slide {
    background-color: #525252;
    background-image: url("../images/ofi.jpg");
    background-blend-mode: color-burn;
    background-position: bottom;  
}
#what{
     background-color: #525252;
     background-attachment: fixed;
     background-image: url("../images/seven.jpg");
     background-blend-mode: color-burn;
     background-size: cover;
     background-position: center;
     margin:50px 0;
     padding:50px;   
}
.what-text{
    color: #FFF;
    /* background-color: #fff; */
    padding: 20px;
    font-size: 20px;
}
.what-text h2{
  font-size:3em;
}
.what-text p{
  font-size:1.2em;
}
#marketing {
    padding: 30px;
    padding-top: 40px;
}

.marketing-text {
    margin:20px 40px;
}

.marketing-text h3 {
    margin-top: 0;
}
/*.move{
  background:#F5F5F5;
}*/
/*.project{
    margin-top:50px;
    margin-bottom:50px;
}
.thumbnail{
  padding: 9px;
  border: 1px solid rgba(111,107,107,0.26);
  color: #34495E;
  font-family: "Roboto";

}
.thumbnail h5{
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
}
.backred{
    background-color: #E84C3D;
    padding-top: 50px;
    color: #ffffff;
    padding-bottom:50px;

}*/
.what{
    text-align:center;
    padding-left:20px;
    padding-right:20px;
    padding-bottom: 30px;

}
#learn{
  padding:100px 0;
}
.door{
  height:300px;
  background-image:url("../images/icon.jpeg");
  background-size:cover;
  background-position:center;
}
.door-text{
  padding-top:30px;
}
.contact{
  background-blend-mode:color-burn;
  margin:50px 0 0 0;
  background-color:#01375D;
  background-position:center;
  background-size: cover;
  opacity:0.9;
  padding:3% 30%;
}
.contact h3{
  font-size:3em;
  color:#fff;
}
textarea{
  margin-bottom:30px;
}
.pidelo{
  border-color:#2EFE2E;
  position:relative;
  left:35%;
  background-color:#2EFE2E;
  margin:auto;
}
.pidelo:hover{
  background-color:#82FA58;
}
/*.about{
  background-color: #34495E;
  color: #ffffff;
  padding-top: 50px;
  padding-bottom: 50px;
}
.red{
  background-color: #E84C3D;
  color: #ffffff;
}
.red:hover{
  background-color:#ffffff;
  color: #E84C3D;
  border:1px solid #E84C3D;
}
.icon-flecha{
  margin-right: 5px;
}
.blanca{
  color: #ffffff;
}
.en .linea{
  display:inline-block;
}
.final{
  color: #ffffff;
  background:#2C3E50;
  padding-top: 35px;
  padding-bottom: 37px;
}*/
